

<header class="header">
  <div class="topbar">
    <div class="grid container">
      <div class="search">
        <input placeholder="Поиск по каталогу"/>
        <button aria-label="Найти">🔍</button>
      </div>
      <nav class="nav">
        <div class="item">📍 Город: <strong>&nbsp;Алматы</strong></div>
        <a class="item" href="#">Магазины</a>
        <a class="item" href="#">Оплата</a>
        <a class="item" href="#">Доставка</a>
        <span class="item pill">РУС · ҚАЗ</span>
      </nav>
      <nav class="nav">
        <span id="loginState"></span>
        <a class="item" id="admin-link" href="/admin/dashboard.html" style="display:none">Админ</a>
        <a class="item" href="/admin/login.html">Войти</a>
        <a class="item" href="#">Избранное</a>
        <a class="item" id="cart-link" href="/cart.html">0 шт</a>
      </nav>
    </div>
  </div>
  <div class="subbar">
    <div class="grid container">
      <div style="display:flex;align-items:center;gap:12px">
        <div>📞</div>
        <div>
          <div class="title">ОБСЛУЖИВАНИЕ КЛИЕНТОВ ИНТЕРНЕТ‑МАГАЗИНА:</div>
          <div class="phones">
            <div>Пн–Пт <strong>09:00–20:00</strong></div>
            <div>Сб–Вс <strong>09:00–18:00</strong></div>
          
          </div>
        </div>
      </div>
      <div class="phones">
          <div style="color:var(--muted)">По вопросам онлайн‑заказа</div>
        <div class="phone"><span class="num">+7 (727) 313‑13‑68</span></div>
        <div class="phone"><span class="num">+7 (777) 313‑13‑66</span> <span class="wapp">(WhatsApp)</span></div>
      </div>
      <div class="phones">
        <div class="title">CALL‑CENTER</div>
        <div class="phone"><span class="num">+7 (727) 313‑13‑51</span></div>
        <div class="phone"><span class="num">+7 (777) 313‑13‑67</span> <span class="wapp">(WhatsApp)</span></div>
      </div>
    </div>
  </div>
</header>
