<aside class="sidebar-fixed">
  <div class="sidebar-header"><a href="/"><img src="/assets/img/logo.svg" alt="Logo"/></a></div>
  <a class="sidebar-sale" href="/category.html">
    <svg class="icon" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"><path d="M19 5l-7 7-4-4-5 5"/><path d="M14 7h7v7"/></svg>
    ТОВАРЫ СО СКИДКОЙ И НОВИНКИ
  </a>
  <ul class="sidebar-list">
    <li><a class="sidebar-item" href="/category.html?cat=paper"><span class="row"><span class="i i-paper"></span><span class="title">Бумага и бумажная продукция</span></span><span class="chev">›</span></a></li>
    <li><a class="sidebar-item" href="/category.html?cat=stationery"><span class="row"><span class="i i-stationery"></span><span class="title">Канцелярские товары</span></span><span class="chev">›</span></a></li>
    <li><a class="sidebar-item" href="/category.html?cat=household"><span class="row"><span class="i i-household"></span><span class="title">Хозяйственные товары</span></span><span class="chev">›</span></a></li>
    <li><a class="sidebar-item" href="/category.html?cat=food"><span class="row"><span class="i i-food"></span><span class="title">Продукты питания</span></span><span class="chev">›</span></a></li>
    <li><a class="sidebar-item" href="/category.html?cat=tech"><span class="row"><span class="i i-tech"></span><span class="title">Техника и электроника</span></span><span class="chev">›</span></a></li>
    <li><a class="sidebar-item" href="/category.html?cat=toner"><span class="row"><span class="i i-toner"></span><span class="title">Картриджи и тонер</span></span><span class="chev">›</span></a></li>
    <li><a class="sidebar-item" href="/category.html?cat=furniture"><span class="row"><span class="i i-furniture"></span><span class="title">Мебель и интерьер</span></span><span class="chev">›</span></a></li>
    <li><a class="sidebar-item" href="/category.html?cat=gifts"><span class="row"><span class="i i-gift"></span><span class="title">Подарки и сувиниры</span></span><span class="chev">›</span></a></li>
    <li><a class="sidebar-item" href="/category.html?cat=creative"><span class="row"><span class="i i-creative"></span><span class="title">Товары для творчества и учебы</span></span><span class="chev">›</span></a></li>
  </ul>
</aside>
